@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}

.imgBgExpo_1 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia_fondos_landing_expo.png');
}

.imgBgExpo_2 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (1).png');
}

.imgBgExpo_3 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (2).png');
}

.imgBgExpo_4 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (3).png');
}

.imgBgExpo_5 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (4).png');
}

.imgBgExpo_6 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (5).png');
}

.imgBgExpo_7 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (6).png');
}

.imgBgExpo_8 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (7).png');
}

.imgBgExpo_9 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (8).png');
}

.imgBgExpo_10 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (9).png');
}

.imgBgExpo_11 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (10).png');
}

.imgBgExpo_12 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (11).png');
}

.imgBgExpo_13 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (12).png');
}

.imgBgExpo_14 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (13).png');
}

.imgBgExpo_15 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (14).png');
}

.imgBgExpo_16 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (15).png');
}

.imgBgExpo_17 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (16).png');
}

.imgBgExpo_18 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (17).png');
}

.imgBgExpo_19 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (18).png');
}

.imgBgExpo_20 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (19).png');
}

.imgBgExpo_21 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (20).png');
}

.imgBgExpo_22 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (21).png');
}

.imgBgExpo_23 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Copia fondos landing expo (22).png');
}

.imgBgExpo_24 {
    background-image: url('../public/assets/img/Backgrounds_Expo/Landing Expo (6).png');
}

.romboBg {
    background-image: url('../public/assets/img/Backgrounds_Expo/rombo-01.png');
}

.bgEvents {
    background-image: url('../public/assets/img/Backgrounds_Expo/fondo eventual.png');
}

.bgVpn {
    background-image: url('../public/assets/img/Backgrounds_Expo/fondo vpn.png');
}